/* Cascading Style Sheet */
p {
	color: #ff0;
	font-size: 16px;
	padding: 10px;
}
header {
	position: relative;
	background: #B3B3BA;
	border: 2px dashed #FFFFFF;
	height: 150px;
	width: 400px;
	margin: 20px;
	padding: 20px;
}
ul {
	position: absolute;
	right: 30px;
	top: 10px;
}
nav {
	background: #B3B3BA;
	border: 2px dashed #FFFFFF;
	height: 20px;
	width: 400px;
	margin: 20px 20px 10px 20px;
	padding: 20px;
}
article {
	background: #B3B3BA;
	border: 2px dashed #FFFFFF;
	height: 120px;
	width: 248px;
	margin: 10px 10px 20px 20px;
	padding: 20px;
	float: left;
}
aside {
	background: #B3B3BA;
	border: 2px dashed #FFFFFF;
	height: 120px;
	width: 88px;
	margin: 10px 20px 20px 10px;
	padding: 20px;
	float: left;
}
footer {
	background: #B3B3BA;
	border: 2px dashed #FFFFFF;
	height: 20px;
	width: 400px;
	margin: 20px;
	padding: 20px;
	clear: both;
}

/* Detailed CSS Positioning TEST */
.box-set {
	background: #e8eae9;
}
.box {
	position: relative;
	background: #8ec63f;
	height: 100px;
	float: left;
	margin: 10px;
	width: 200px;
	border-radius: 5px;
}
#vertical {
	text-align: center;
	position: absolute;
	top: 50%;
	display: table-cell;
	vertical-align: middle;
}